<!-- results.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Results</title>

  <style>
    body {
      font-family: "Montserrat", Arial, sans-serif;
      background: linear-gradient(to right bottom, #fbdb89, #f48982);
      margin: 0;
      padding: 0;
    }

    h1 {
      font-family: "Montserrat-bold";
      text-align: center;
      padding: 3% 0;
      color: black;
    }

    #results {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 20px;
    }

    .product-card {
      flex: 0 0 calc(20% - 20px); /* Adjust the width and margin based on the desired layout */
      margin: 10px;
      background: #fff;
      border-radius: 9px;
      box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
      overflow: hidden; /* Ensure the content doesn't overflow the card */
    }

    a {
      text-decoration: none;
      color: #333;
      display: block;
    }

    img {
      max-width: 100%;
      height: auto;
      border-bottom: 1px solid #ddd;
    }

    .product-details {
      padding: 10px;
    }

    p {
      margin: 0;
      font-size: 14px;
      line-height: 1.4;
      color: #333;
    }
  </style>
</head>

<body>
  <h1>Search Results</h1>

  <div id="results">
    <% if (results && results.length > 0) { %>
      <% 
        const sortedResults = results.sort((a, b) => parseFloat(a.price) - parseFloat(b.price));

        sortedResults.forEach(product => { %>
          <div class="product-card">
            <a href="<%= product.link %>" target="_blank">
              <img src="<%= product.image %>" alt="<%= product.title %>">
              <div class="product-details">
                <p><strong><%= product.title.substring(0, 50) %>...</strong></p>
                <p><%= product.price %></p>
              </div>
            </a>
          </div>
        <% }); %>
    <% } else { %>
      <p>No results found. Check if data is passed correctly.</p>
    <% } %>
  </div>
</body>

</html>
